In [34]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

# print(myvar)


calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"]) #fetch only day1 and day2

# print(myvar)

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
# df = pd.DataFrame(data)

#print(df.loc[2])  # loc is like pointer output header and row at index 2
#print(df.loc[[0, 1]]) #fetch multiple rows at index 0 and 1

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])  #label the data
print(df)
dataFrame = pd.read_csv('categories.csv')
print(pd.options.display.max_rows)  #number is 60, which means that if the DataFrame contains more than 60 rows, the print(df) statement will return only the headers and the first and last 5 rows.
#print(dataFrame)
# pd.options.display.max_rows = 9999
print(dataFrame.head(3))  #print first 3 rows
print(dataFrame.tail(3))

      calories  duration
day1       420        50
day2       380        40
day3       390        45
9999
   id  parent_id           name           code description           icon  \
0   1        NaN          Abuse          abuse         NaN  fas fa-folder
1   2        NaN     Automobile     automobile         NaN     fas fa-car
2   3        NaN  Entertainment  entertainment         NaN    fas fa-film

     color  is_system  is_active           created_at           updated_at
0  #6c757d          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
1  #795548          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
2  #e83e8c          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
      id  parent_id              name              code  \
111  259      240.0             Snack             SNACK
112  260      240.0  Account Transfer  ACCOUNT_TRANSFER
113  261        NaN              Loan               NaN

                                         description icon color  is_system  \
111  Migrated subcategory from legacy expense_report  NaN   NaN          0
112  Migrated subcategory from legacy expense_report  NaN   NaN          0
113                                              NaN  NaN   NaN          0

     is_active           created_at           updated_at
111          1  2025-07-12 03:36:42  2025-07-12 03:36:42
112          1  2025-07-12 03:36:42  2025-07-12 03:36:42
113          1  2025-07-13 04:47:10  2025-07-13 04:47:10

Series a one dimentional array

In [4]:
import pandas as pd
dataFrame = pd.read_csv('categories.csv')
# import pandas

# mydataset = {
#   'cars': ["BMW", "Volvo", "Ford"],
#   'passings': [3, 7, 2]
# }

# myvar = pandas.DataFrame(mydataset)
# print(dataFrame.to_string())
# print(dataFrame)
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

Pandas is a Python library used for working with data sets (it can be from csv file)

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

***Data Cleaning***

Bad data could be:

Empty cells
Data in wrong format
Wrong data
Duplicates

In [ ]:
import pandas as pd
dataFrame = pd.read_csv('categories.csv')
clean_frame = dataFrame.dropna()
print(dataFrame.to_string())
print(clean_frame.to_string())
dataFrame.dropna(inplace = True) #inplace true means change in original df
print(dataFrame.to_string())

   id  parent_id  name   code description           icon    color  is_system  is_active           created_at           updated_at
0   1          0    AB    abs        desc  fas fa-folder  #6c757d          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
1   2          1   tst   test         trt  fas fa-folder  #6c757d          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
2   2          1  tst1  test1         NaN   fas fa-ghfgf  #795548          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
3   2          1   NaN  test3        trt3     fas fa-car  #795548          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
4   2          1   NaN  test3         NaN     fas fa-car  #795548          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
5   5          2    AB    abs        desc  fas fa-folder  #6c757d          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
   id  parent_id name  code description           icon    color  is_system  is_active           created_at           updated_at
0   1          0   AB   abs        desc  fas fa-folder  #6c757d          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
1   2          1  tst  test         trt  fas fa-folder  #6c757d          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
5   5          2   AB   abs        desc  fas fa-folder  #6c757d          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
   id  parent_id name  code description           icon    color  is_system  is_active           created_at           updated_at
0   1          0   AB   abs        desc  fas fa-folder  #6c757d          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
1   2          1  tst  test         trt  fas fa-folder  #6c757d          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
5   5          2   AB   abs        desc  fas fa-folder  #6c757d          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40

Replace Empty Values fillna

In [ ]:
import pandas as pd

df = pd.read_csv('categories.csv')

#df.fillna("hola", inplace = True)
#print(df.to_string())

df.fillna({"description": "this is description"}, inplace=True) #fillna for specific column
print(df.to_string())

   id  parent_id  name   code          description           icon    color  is_system  is_active           created_at           updated_at
0   1          0    AB    abs                 desc  fas fa-folder  #6c757d          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
1   2          1   tst   test                  trt  fas fa-folder  #6c757d          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
2   2          1  tst1  test1  this is description   fas fa-ghfgf  #795548          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
3   2          1   NaN  test3                 trt3     fas fa-car  #795548          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
4   2          1   NaN  test3  this is description     fas fa-car  #795548          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40
5   5          2    AB    abs                 desc  fas fa-folder  #6c757d          1          1  2025-07-10 12:36:40  2025-07-10 12:36:40

Replace Using Mean, Median, or Mode

In [ ]:
import pandas as pd
from datetime import datetime

df = pd.read_csv('categories.csv')

x = df["id"].mean()

df.fillna({"id": x}, inplace=True)

dropExample = df.copy()
dropExample["updated_at"] = pd.to_datetime(dropExample["updated_at"], errors="coerce") #convert to datetime, invalid parsing will be set as NaT
print(dropExample.to_string()) 

print(dropExample.dropna(subset=['updated_at']).to_string()) #drop rows where updated_at is NaT



current_time = datetime.now().strftime("%H:%M:%S")
dropExample["created_at"] = pd.to_datetime(dropExample["created_at"], errors="coerce") 
dropExample.loc[dropExample["created_at"].isna(), "created_at"] = current_time  # replace created_at where NAt using loc method
dropExample.fillna({"updated_at": pd.to_datetime(current_time)}, inplace=True) #replace NaT with current time in updated_at column

print(dropExample.to_string())

      id      parent_id  name              code description           icon    color  is_system  is_active           created_at          updated_at
0   10.0              0    AB               abs        desc  fas fa-folder  #6c757d          1          1  2025-07-10 12:36:40 2025-07-10 12:36:40
1   22.0              1   tst              test         trt  fas fa-folder  #6c757d          1          1  2025-07-10 12:36:40 2025-07-10 12:36:40
2  253.0              1  tst1             test1         NaN   fas fa-ghfgf  #795548          1          1  2025-07-10 12:36:40 2025-07-10 12:36:40
3   21.0              1   NaN             test3        trt3     fas fa-car  #795548          1          1  2025-07-10 12:36:40 2025-07-10 12:36:40
4   28.0              1   NaN  date-with-string         NaN     fas fa-car  #795548          1          1   date was string >>                 NaT
5   66.8  <<<this Value    AB               abs        desc  fas fa-folder  #6c757d          1          1  2025-07-10 12:36:40 2025-07-10 12:36:40
      id      parent_id  name   code description           icon    color  is_system  is_active           created_at          updated_at
0   10.0              0    AB    abs        desc  fas fa-folder  #6c757d          1          1  2025-07-10 12:36:40 2025-07-10 12:36:40
1   22.0              1   tst   test         trt  fas fa-folder  #6c757d          1          1  2025-07-10 12:36:40 2025-07-10 12:36:40
2  253.0              1  tst1  test1         NaN   fas fa-ghfgf  #795548          1          1  2025-07-10 12:36:40 2025-07-10 12:36:40
3   21.0              1   NaN  test3        trt3     fas fa-car  #795548          1          1  2025-07-10 12:36:40 2025-07-10 12:36:40
5   66.8  <<<this Value    AB    abs        desc  fas fa-folder  #6c757d          1          1  2025-07-10 12:36:40 2025-07-10 12:36:40
      id      parent_id  name              code description           icon    color  is_system  is_active created_at          updated_at
0   10.0              0    AB               abs        desc  fas fa-folder  #6c757d          1          1   10:55:14 2025-07-10 12:36:40
1   22.0              1   tst              test         trt  fas fa-folder  #6c757d          1          1   10:55:14 2025-07-10 12:36:40
2  253.0              1  tst1             test1         NaN   fas fa-ghfgf  #795548          1          1   10:55:14 2025-07-10 12:36:40
3   21.0              1   NaN             test3        trt3     fas fa-car  #795548          1          1   10:55:14 2025-07-10 12:36:40
4   28.0              1   NaN  date-with-string         NaN     fas fa-car  #795548          1          1   10:55:14 2025-09-11 10:55:14
5   66.8  <<<this Value    AB               abs        desc  fas fa-folder  #6c757d          1          1   10:55:14 2025-07-10 12:36:40

**Question ??**
 - what type of errors eg. : RaiseCoerce ?
 - What is fasl fillna() or loc() method ? fillna is faster that is feature of pandas
    Performance Comparison:
        fillna() - Faster

        ✅ Optimized C implementation
        ✅ Vectorized operations
        ✅ Designed specifically for filling missing values
        ✅ Single operation


        loc[] - Slower

        ❌ Creates boolean mask first (isna())
        ❌ Then applies conditional assignment
        ❌ Two-step process
        ❌ More overhead

**Pandas - Data Correlations**
A great aspect of the Pandas module is the corr() method.

The corr() method calculates the relationship between each column in your data set.

The pandas corr() method calculates the Pearson correlation coefficient between columns in your DataFrame. It measures the linear relationship between numerical variables.

The correlation coefficient ranges from -1 to +1:

+1: Perfect positive correlation (as one increases, other increases)
0: No linear relationship
-1: Perfect negative correlation (as one increases, other decreases)

In [ ]:
import pandas as pd
from datetime import datetime

# Real example with your data structure
data = {
    "duration": [50, 40, 45, 60, 55, 35, 30, 65],
    "calories": [420, 380, 390, 500, 470, 350, 300, 520],
    "pulse": [120, 110, 115, 140, 130, 100, 95, 145],
    "age": [25, 30, 28, 35, 32, 22, 20, 40]
}

df = pd.DataFrame(data)

# Get correlation matrix
corr_matrix = df.corr()
print(corr_matrix)

# Get specific correlation between two columns
duration_calories_corr = df['duration'].corr(df['calories'])
print(f"\nDuration vs Calories correlation: {duration_calories_corr:.3f}")


high_corr = corr_matrix[abs(corr_matrix) > 0.9] # eg:.91
print("\nHighly correlated pairs:")
print(high_corr)


# Strong positive correlations between duration and calories (longer workouts burn more calories), or between pulse and calories (higher intensity often means higher heart rate and more calories burned). Understanding these relationships helps identify which variables move together and can inform decisions about feature selection in machine learning models.

          duration  calories     pulse       age
duration  1.000000  0.991857  0.995470  0.905616
calories  0.991857  1.000000  0.992571  0.921584
pulse     0.995470  0.992571  1.000000  0.929421
age       0.905616  0.921584  0.929421  1.000000

Duration vs Calories correlation: 0.992

Highly correlated pairs:
          duration  calories     pulse       age
duration  1.000000  0.991857  0.995470  0.905616
calories  0.991857  1.000000  0.992571  0.921584
pulse     0.995470  0.992571  1.000000  0.929421
age       0.905616  0.921584  0.929421  1.000000